# Ignore build directories and object files
build/
*.o
*.obj
*.out
*.exe

#Ignore compiled files
out

# Ignore save files if present
save/
data/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore system files
.DS_Store        # macOS specific
Thumbs.db        # Windows specific